###########################################################
#################### OCARIoT API SETUP ####################
###########################################################

# API_GATEWAY_SERVICE:      URI used to connect to the API Gateway public API 
#                           default value: http://localhost:8080
API_GATEWAY_SERVICE=http://localhost:8080

# PORT_API:                 Port used to expose API Gateway public API 
#                           default value: 8080
PORT_API=8080


############################################################################
#################### AUTHORIZATION/AUTHENTICATION SETUP ####################
############################################################################

# ISSUER:                   issuer used to validate the JWT token sent into the requests 
#                           default value: ocariot
ISSUER=ocariot

# SECRET_JWT:               Secret or public key used to validate the JWT token signature 
#                           default value: ocariot123
SECRET_JWT=ocariot123


##################################################################
#################### SERVICES ENDPOINTS SETUP ####################
##################################################################

# ACTIVITY_SERVICE:         URI used to connect to the activity tracking service 
#                           default value: http://localhost:3000/api/v1
ACTIVITY_SERVICE=http://localhost:3000/api/v1

# MISSION_SERVICE:          URI used to connect to the mission service 
#                           default value: http://localhost:4000/api/v1
MISSION_SERVICE=http://localhost:4000/api/v1

# ACCOUNT_SERVICE:          URI used to connect to the account service 
#                           default value: http://localhost:5000/api/v1
ACCOUNT_SERVICE=http://localhost:5000/api/v1

# QUESTIONNAIRE_SERVICE:    URI used to connect to the questinnaire service 
#                           default value: http://localhost:6000/api/v1
QUESTIONNAIRE_SERVICE=http://localhost:6000/api/v1

# GAMIFICATION_SERVICE:     URI used to connect to the gamification service 
#                           default value: http://localhost:7000/api/v1
GAMIFICATION_SERVICE=http://localhost:7000/api/v1


##############################################################
#################### REDIS DATABASE SETUP ####################
##############################################################

# EMULATE_REDIS:            true - emulated database, all the data is be lost if the gateway is restarted
#                           false - data stored in a redis database instance
#                           default value: false
EMULATE_REDIS=false

# PORT_REDIS:               If using REDIS database (EMULATE_REDIS=false), it defines the database port
#                           default value: 6379
PORT_REDIS=6379

# HOST_REDIS:               If using REDIS database (EMULATE_REDIS=false), it defines the database host address
#                           default value: localhost
HOST_REDIS=localhost